({
    "blue": File (
        path: "textures/Blue_Block1.png"
    ),
    "dark_blue": File (
        path: "textures/Dark_Blue_Block1.png"
    ),
    "light_blue": File (
        path: "textures/Light_Blue_Block1.png"
    ),
    "light_blue_transparent": File (
        path: "textures/Light_Blue_Block1_transparency.png"
    ),
    "light_purple": File (
        path: "textures/Light_Purple_Block1.png"
    ),
    "orange": File (
        path: "textures/Orange_Block1.png"
    ),
    "pink": File (
        path: "textures/Pink_Block1.png"
    ),
    "purple": File (
        path: "textures/Purple_Block1.png"
    ),
    "red": File (
        path: "textures/Red_Block1.png"
    ),
    "crack": File (
        path: "textures/crack1.png"
    ),
    "ufo_top": File (
        path: "textures/UFO_Top.png"
    ),
    "ufo_bottom": File (
        path: "textures/UFO_bottom.png"
    ),
    "background": File (
        path: "textures/background.png"
    ),
    "ball": File (
        path: "textures/ball.png"
    ),
    "shop_background": File(
        path: "textures/shop_no_writting.png"
    ),
    "damage_icon": File(
        path: "textures/Icon_ball_damage.png"
    ),
    "speed_icon": File(
        path: "textures/ICON_ufo_dash.png"
    ),
    "ball_capacity_icon": File(
        path: "textures/ICON_ball_capacity.png"
    ),
    "paddle_size_icon": File(
        path: "textures/ICON_ufo_extend.png"
    ),
    "refresh_icon": File(
        path: "textures/ICON_refresh.png"
    ),
    "title": File(
        path: "textures/temp_title.png"
    ),
    "wasd": File(
        path: "textures/ICON_WASD.png"
    ),
    "arrows": File(
        path: "textures/ICON_arrows.png"
    ),
    "move": File(
        path: "textures/ICON_move.png"
    ),
    "space": File(
        path: "textures/ICON_space.png"
    ),
    "shoot_ball": File(
        path: "textures/ICON_shoot_ball.png"
    ),
})