({
    "dirt": File (
        path: "textures/greenbloc.png"//"textures/dirtblock.png"
    ),
    "iron": File (
        path: "textures/bluebloc.png"//"textures/RedDirtBloc.png"
    ),
    "obsidian": File (
        path: "textures/pinkbloc.png"//"textures/PurpleDirtBlock.png"
    ),
    "crack": File (
        path: "textures/crack.png"
    ),
    "ufo_top": File (
        path: "textures/UFO_Top.png"
    ),
    "ufo_bottom": File (
        path: "textures/UFO_bottom.png"
    )
})