({
    "blue": File (
        path: "textures/Blue_Block1.png"
    ),
    "dark_blue": File (
        path: "textures/Dark_Blue_Block1.png"
    ),
    "light_blue": File (
        path: "textures/Light_Blue_Block1.png"
    ),
    "light_purple": File (
        path: "textures/Light_Purple_Block1.png"
    ),
    "orange": File (
        path: "textures/Orange_Block1.png"
    ),
    "pink": File (
        path: "textures/Pink_Block1.png"
    ),
    "purple": File (
        path: "textures/Purple_Block1.png"
    ),
    "red": File (
        path: "textures/Red_Block1.png"
    ),
    "crack": File (
        path: "textures/crack.png"
    ),
    "ufo_top": File (
        path: "textures/UFO_Top.png"
    ),
    "ufo_bottom": File (
        path: "textures/UFO_bottom.png"
    )
})