<template>
    <property name="icon">default</property>
    <property name="title">Item title</property>
    <property name="level">1</property>

    <button on_press="shop_item_pressed" padding="5px" column_gap="2px" id="head" border_radius="10px"
        hover:background="rgb(0.9,0.2,0.3)">
        <image margin="10px" src="{icon}" width="40px" />

        <node row_gap="5px" padding="10px 5px" border_radius="10px" flex_direction="column">
            <text>{title} (Level {level})</text>
            <node column_gap="5px" id="resources" on_spawn="shop_resources">
            </node>
        </node>
    </button>
</template>